<div class="request__answers">
    <div class="request__answers-form request__answers-panel panel-box panel-padding">
        <div class="mb15">Ответить на запрос:</div>
        <form action="#">
            <div class="form-line mb15">
                <textarea name="" class="standard-input"
                          placeholder="Например: Могу продать Вам за 20 тысяч тенге, доставка в течение 10 рабочих дней"></textarea>
            </div>
            <div>
                <button class="button button-red button-medium">Отправить</button>
            </div>
        </form>
    </div>
    <div class="request__answers-panel panel-box panel-padding">
        <div class="request__answers-header fw-flex mb15">
            <div class="request__answers-avatar mr20">
                <img alt="" src="http://placehold.it/100x100" class="fw-width-1-1"/>
            </div>
            <div class="request__answers-company-info">
                <div class="request__answers-name fz22 text-bold">ТОО Компания 1</div>
                <div class="request__answers-time fz14 text-grey">5 минут назад</div>
                <div class="request__answers-contacts">
                    <a href="#" class="link-green">+7 777 777 77 77</a>,
                    <a href="#" class="link-green">company@mail.com</a>
                </div>
            </div>
        </div>
        <div class="request__answers-content lh18">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fugit illo quis soluta voluptates. Ab
            accusantium aliquam aliquid amet atque consequuntur doloremque ducimus ea fuga, fugiat ipsa ipsum iste
            itaque iusto labore laborum laudantium magnam maxime minima modi natus necessitatibus nemo nobis obcaecati
            officia perspiciatis porro quam quas quia quod quos repellat reprehenderit saepe sequi soluta suscipit
            voluptates! Accusamus cum ducimus facilis officiis provident rem ut. Aliquid aspernatur, consequatur
            corporis cumque dolores harum ipsa iusto maiores minus necessitatibus, optio quaerat quasi reprehenderit. Ab
            adipisci delectus eius et eum in minima molestiae neque officiis optio placeat, quasi, quisquam sequi
            tempora tempore.
        </div>
    </div>
    <div class="request__answers-panel panel-box panel-padding">
        <div class="request__answers-header fw-flex mb15">
            <div class="request__answers-avatar mr20">
                <img alt="" src="http://placehold.it/100x100" class="fw-width-1-1"/>
            </div>
            <div class="request__answers-company-info">
                <div class="request__answers-name fz22 text-bold">ТОО Компания 1</div>
                <div class="request__answers-time fz14 text-grey">5 минут назад</div>
                <div class="request__answers-contacts">
                    <a href="#" class="link-green">+7 777 777 77 77</a>,
                    <a href="#" class="link-green">company@mail.com</a>
                </div>
            </div>
        </div>
        <div class="request__answers-content lh18">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fugit illo quis soluta voluptates. Ab
            accusantium aliquam aliquid amet atque consequuntur doloremque ducimus ea fuga, fugiat ipsa ipsum iste
            itaque iusto labore laborum laudantium magnam maxime minima modi natus necessitatibus nemo nobis obcaecati
            officia perspiciatis porro quam quas quia quod quos repellat reprehenderit saepe sequi soluta suscipit
            voluptates! Accusamus cum ducimus facilis officiis provident rem ut. Aliquid aspernatur, consequatur
            corporis cumque dolores harum ipsa iusto maiores minus necessitatibus, optio quaerat quasi reprehenderit. Ab
            adipisci delectus eius et eum in minima molestiae neque officiis optio placeat, quasi, quisquam sequi
            tempora tempore.
        </div>
    </div>
    <div class="request__answers-panel panel-box panel-padding">
        <div class="request__answers-header fw-flex mb15">
            <div class="request__answers-avatar mr20">
                <img alt="" src="http://placehold.it/100x100" class="fw-width-1-1"/>
            </div>
            <div class="request__answers-company-info">
                <div class="request__answers-name fz22 text-bold">ТОО Компания 1</div>
                <div class="request__answers-time fz14 text-grey">5 минут назад</div>
                <div class="request__answers-contacts">
                    <a href="#" class="link-green">+7 777 777 77 77</a>,
                    <a href="#" class="link-green">company@mail.com</a>
                </div>
            </div>
        </div>
        <div class="request__answers-content lh18">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fugit illo quis soluta voluptates. Ab
            accusantium aliquam aliquid amet atque consequuntur doloremque ducimus ea fuga, fugiat ipsa ipsum iste
            itaque iusto labore laborum laudantium magnam maxime minima modi natus necessitatibus nemo nobis obcaecati
            officia perspiciatis porro quam quas quia quod quos repellat reprehenderit saepe sequi soluta suscipit
            voluptates! Accusamus cum ducimus facilis officiis provident rem ut. Aliquid aspernatur, consequatur
            corporis cumque dolores harum ipsa iusto maiores minus necessitatibus, optio quaerat quasi reprehenderit. Ab
            adipisci delectus eius et eum in minima molestiae neque officiis optio placeat, quasi, quisquam sequi
            tempora tempore.
        </div>
    </div>
</div>