@import "mixins/mixins"

.header__cabinet
  padding: 20px 0
  background: #fff
  box-shadow: 0 0 15px #ccc
  z-index: 2
  position: fixed
  left: 0
  top: 0
  width: 100%

.cabinet-wrapper
  background: url("../images/cabinet-bg.jpg") no-repeat center center / cover
  background-attachment: fixed
  flex-grow: 1
  padding: 120px 0 70px

.cabinet-grid
  & > *
    display: flex

.cabinet-grid__item
  position: relative
  background: #fff
  box-shadow: 0 0 25px #ccc
  padding: 25px
  display: block
  width: 100%
  color: inherit
  text-decoration: inherit
  +transition()

  &:hover
    box-shadow: 0 0 45px #888
    +transform(scale(1.02))
    z-index: 1

.cabinet-grid__title
  &:after
    display: block
    content: ''
    width: 100px
    height: 2px
    background: #17cb70
    margin: 10px 0

.cabinet-grid__description
  padding-right: 40px
  line-height: 1.5

.cabinet-grid__icon
  position: absolute
  right: 25px
  bottom: 25px

  &[data-badge]
    &:before
      position: absolute
      content: attr(data-badge)
      top: -10px
      left: -10px
      line-height: 20px
      height: 20px
      width: 20px
      text-align: center
      background: #f27373
      border-radius: 100%
      font-weight: bold
      color: #fff

.add-request
  text-decoration: none
  color: #fff
  background: #f27373
  height: 114px
  padding: 15px 30px
  box-sizing: border-box

  .max-width-500
    max-width: 520px
    
  &.add-request_supplier
    background: #17cb70

.add-request__description
  line-height: 1.8
  font-size: 17px

.back-link
  margin: 15px 0

.cabinet-faq__item
  background: #fff
  //padding: 20px
  box-shadow: 0 0 15px #ccc

  &:not(:last-child)
    margin-bottom: 15px

.cabinet-faq__item-title
  cursor: pointer
  padding: 20px

.cabinet-faq__item-content
  line-height: 1.38
  display: none
  padding: 0 20px 20px

.back-link__label
  background: #17cb70
  border-radius: 3px
  font-size: 16px
  color: #fff
  text-decoration: none
  display: inline-block
  line-height: 24px
  padding: 0 10px
  +transition()
  
  &:hover
    background: #17cb70*0.8

.article__info
  color: #888
  margin-top: auto

.article
  display: flex
  flex-direction: column
  &[data-badge]
    position: relative
    &:after
      position: absolute
      content: attr(data-badge)
      border-radius: 20px
      min-width: 20px
      height: 20px
      top: -7px
      right: -7px
      text-align: center
      line-height: 20px
      background: #f27373
      font-weight: bold
      font-size: 16px
      color: #fff
      padding: 0 3px
      box-sizing: border-box

.pagination
  margin: 15px 0 10px
  text-align: center

.pagination__item
  display: inline-block
  vertical-align: middle
  margin-bottom: 5px

  &.active, &:hover
    .pagination__link
      background: #17cb70
      color: #fff

.pagination__link
  display: block
  border-radius: 3px
  background: #fff
  box-shadow: 0 0 15px #ccc
  text-decoration: none
  padding: 0 5px
  box-sizing: border-box
  height: 34px
  min-width: 34px
  text-align: center
  line-height: 34px
  font-weight: bold
  +transition()

.field-caption
  //width: 220px
  flex-shrink: 0
  flex-basis: 220px

  &:not(.no-padding)
    padding-top: 12px

.field-input
  min-width: 0

.settings-form
  max-width: 600px

.input-file-holder__text
  border: 1px solid #999
  line-height: 38px
  padding: 0 15px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  background: #fff
  flex: 1

.request__answers-panel
  margin: 15px 0

.request__answers-avatar
  flex-basis: 100px
  flex-shrink: 0
  font-size: 0
  line-height: 0

.request__answers-time
  margin-top: auto
  margin-bottom: auto
  padding-top: 10px
  padding-bottom: 10px
  color: #888

.request__answers-company-info
  display: flex
  flex-direction: column