@import "mixins/mixins"

.chosen-container
  width: 100% !important

.chosen-container-multi .chosen-choices
  box-shadow: none
  background: #fff
  padding: 0 15px

.chosen-container-multi .chosen-choices li.search-choice
  line-height: 34px
  border: none
  padding: 0 25px 0 10px
  background: #17cb70
  color: #fff
  font-size: 16px

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close
  +transform(rotate(45deg))
  position: absolute
  top: 50%
  margin-top: -7px
  right: 5px

  &, &:hover
    background: none

  &:after, &:before
    width: 14px
    height: 2px
    background: #fff
    position: absolute
    top: 50%
    left: 50%
    +transform(translate(-50%, -50%))
    display: block
    content: ''

  &:after
    height: 14px
    width: 2px

.chosen-container-active .chosen-choices, .chosen-container-active .chosen-single
  border-color: #17cb70

.chosen-container-multi .chosen-choices li.search-field input[type="text"]
  height: 38px
  font-family: istock, arial, sans-serif
  font-size: 16px
  color: #666

.chosen-container .chosen-drop
  border-color: #17cb70

.chosen-container .chosen-results li
  padding: 10px 15px
  font-size: 16px
  
  &:hover
    background: #17cb70

.chosen-container-single .chosen-results li
  margin-left: -5px
  margin-right: -5px
  width: auto

.chosen-container .chosen-results li.highlighted
  background: #17cb70

.chosen-container-single .chosen-single
  padding: 0 0 0 15px
  background: #fff
  box-shadow: none
  border-radius: 0
  line-height: 38px
  height: 40px
  box-sizing: border-box
  font-size: 16px

.chosen-container .chosen-results
  margin: 0

.chosen-container-single .chosen-single div b
  width: 20px
  height: 20px
  position: absolute
  top: 50%
  margin-top: -12px

.chosen-container-active.chosen-with-drop .chosen-single
  background: linear-gradient(rgba(162, 255, 173, 0.52) 20%, #fff 80%)