{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="cabinet-wrapper">
        <div class="container">
            <div class="cabinet-section mb50">
                <div class="block-title text-center mb30">Продавцу</div>
                <div class="cabinet-grid fw-grid-15 fw-grid">
                    <div class="fw-width-1-1">
                        <a href="#" class="add-request add-request_supplier fw-flex fw-flex-middle fw-width-1-1">
                            <div class="mr20">
                                <i class="icon-become-supplier"></i>
                            </div>
                            <div class="fz40 mr20">
                                Стать продавцом
                            </div>
                            <div class="max-width-500 add-request__description">
                                Зарегистрируйтесь в качестве продавца, откликайтесь
                                на запросы покупателей и продавайте свою продукцию
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Просмотр запросов</div>
                            <div class="cabinet-grid__description fz17">
                                В данном разделе продавец
                                сможет просматривать заявки
                                пользователей сайта
                            </div>
                            <div class="cabinet-grid__icon" data-badge="5">
                                <i class="icon-list"></i>
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Настройка продавца</div>
                            <div class="cabinet-grid__description fz17">
                                Раздел настроек продавца, здесь
                                можно настроить охват категорий и
                                городов, контактные данные и
                                другое
                            </div>
                            <div class="cabinet-grid__icon">
                                <i class="icon-profile"></i>
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Раздел помощи</div>
                            <div class="cabinet-grid__description fz17">
                                Раздел вопрос-ответ, где Вы
                                сможете найти информацию по
                                работе сервиса, его функционалу
                                и общей информации
                            </div>
                            <div class="cabinet-grid__icon">
                                <i class="icon-question"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cabinet-section">
                <div class="block-title text-center mb30">Покупателю</div>
                <div class="cabinet-grid fw-grid-15 fw-grid">
                    <div class="fw-width-1-1">
                        <a href="#" class="add-request fw-flex fw-flex-middle fw-width-1-1">
                            <div class="mr20">
                                <i class="icon-plus"></i>
                            </div>
                            <div class="fz40 mr20">
                                Подать запрос
                            </div>
                            <div class="max-width-500 add-request__description">
                                В данном разделе Вы можете сделать запрос на приобретение
                                нового товара сельскохозяйственного назначения
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Просмотр запросов</div>
                            <div class="cabinet-grid__description fz17">
                                В данном разделе продавец
                                сможет просматривать заявки
                                пользователей сайта
                            </div>
                            <div class="cabinet-grid__icon">
                                <i class="icon-grid" data-badge="5"></i>
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Настройка продавца</div>
                            <div class="cabinet-grid__description fz17">
                                Раздел настроек продавца, здесь
                                можно настроить охват категорий и
                                городов, контактные данные и
                                другое
                            </div>
                            <div class="cabinet-grid__icon">
                                <i class="icon-cog"></i>
                            </div>
                        </a>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s">
                        <a href="#" class="cabinet-grid__item">
                            <div class="cabinet-grid__title fz30">Раздел помощи</div>
                            <div class="cabinet-grid__description fz17">
                                Раздел вопрос-ответ, где Вы
                                сможете найти информацию по
                                работе сервиса, его функционалу
                                и общей информации
                            </div>
                            <div class="cabinet-grid__icon">
                                <i class="icon-question"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}