{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="cabinet-wrapper">
        <div class="container">
            <div class="block-title text-center">Часто Задаваемые Вопросы</div>

            {% include 'components/back-link.twig' %}

            <div class="cabinet-faq__list" data-accordion>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

                <div data-item class="cabinet-faq__item">
                    <div data-title class="cabinet-faq__item-title fz18 text-bold">Как подать объявление и зачем мне это нужно
                    </div>
                    <div data-content class="cabinet-faq__item-content">
                        Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                        покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                        (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                        пользователя (продавца/ покупателя).
                    </div>
                </div>

            </div>
            {% include 'components/back-link.twig' %}
        </div>
    </div>
{% endblock %}