{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <section class="fit-to section-box">
        <div class="container">
            <div class="block-title text-center mb30">Кому подойдет сервис?</div>
            <div>
                <div class="fw-grid fw-grid-15">
                    <div class="fw-width-1-4 fw-width-1-2@m fw-width-1-1@s wow bounceInUp">
                        <div class="fit-to__item fw-width-1-1 text-center">
                            <div class="fit-to__image">
                                <img alt="" src="images/block-1-1.jpg" class="fw-width-1-1"/>
                            </div>
                            <div class="fit-to__content">
                                <strong>Фермерам,</strong> занимающимся земледелием
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-4 fw-width-1-2@m fw-width-1-1@s wow bounceInUp" data-wow-delay="0.3s">
                        <div class="fit-to__item fw-width-1-1 text-center">
                            <div class="fit-to__image">
                                <img alt="" src="images/block-1-2.jpg" class="fw-width-1-1"/>
                            </div>
                            <div class="fit-to__content">
                                <strong>Фермерам,</strong> занимающимся животноводством
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-4 fw-width-1-2@m fw-width-1-1@s wow bounceInUp" data-wow-delay="0.6s">
                        <div class="fit-to__item fw-width-1-1 text-center">
                            <div class="fit-to__image">
                                <img alt="" src="images/block-1-3.jpg" class="fw-width-1-1"/>
                            </div>
                            <div class="fit-to__content">
                                <strong>Фермерам,</strong> занимающимся другими видами деятельности
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-4 fw-width-1-2@m fw-width-1-1@s wow bounceInUp" data-wow-delay="0.9s">
                        <div class="fit-to__item fw-width-1-1 text-center">
                            <div class="fit-to__image">
                                <img alt="" src="images/block-1-4.jpg" class="fw-width-1-1"/>
                            </div>
                            <div class="fit-to__content">
                                <strong>Поставщикам,</strong> специализированной техники, оборудования и различных
                                расходных материалов
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reasons">
        <div class="container">
            <div class="reasons__content">
                <div class="reasons__header mb30 wow fadeInLeft">
                    <div class="block-title mb5">5 причин почему</div>
                    <div class="fz30 fz22@s">стоит воспользоваться сервисом</div>
                </div>
                <div class="reasons__list fz18 fz16@s">
                    <div class="reasons__item wow fadeInLeft" data-wow-delay="0.5s">На сайте есть возможность
                        покупателям подавать заявки на
                        интересующий его товар или услугу.
                    </div>

                    <div class="reasons__item wow fadeInLeft" data-wow-delay="1s">Поставщик же получает уведомления о
                        новых заявках в тех
                        категориях, на которые он подписался.
                    </div>

                    <div class="reasons__item wow fadeInLeft" data-wow-delay="1.5s">Поставщик может отвечать на заявки и
                        эти сообщения будут
                        видны внутри этой заявки, как и контакты поставщика.
                        Контакты покупателя при этом поставщик посмотреть не может.
                    </div>

                    <div class="reasons__item wow fadeInLeft" data-wow-delay="2s">Покупатель выбирает наиболее выгодное
                        для него
                        предложение и связывается с поставщиком.
                    </div>

                    <div class="reasons__item wow fadeInLeft" data-wow-delay="2.5s">Также сервис предоставляет
                        приложения, которые будут при
                        подписке на нужные категории выдавать уведомления обеим
                        сторонам о новых событиях.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="to-buyers section-box section-grey">
        <div class="container">
            <div class="block-title text-center mb40">Покупателям</div>
            <div class="mb50">
                <div class="fw-grid fw-grid-30 text-center">
                    <div class="fw-width-1-3 fw-width-1-1@s wow fadeInUp" data-wow-delay="0s">
                        <div class="to-buyers__item">
                            <div class="to-buyers__icon">
                                <i class="fri icon-present"></i>
                            </div>
                            <div class="lh18 fz18">
                                Сервис позволяет выбрать наиболее
                                выгодное для Вас предложение
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s wow fadeInUp" data-wow-delay="0.5s">
                        <div class="to-buyers__item">
                            <div class="to-buyers__icon">
                                <i class="fri icon-badge"></i>
                            </div>
                            <div class="lh18 fz18">
                                Не нужно искать по сайтам поставщиков
                                товар, услугу и цены на них. Поставщики
                                сами откликаются на Вашу заявку
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s wow fadeInUp" data-wow-delay="1s">
                        <div class="to-buyers__item">
                            <div class="to-buyers__icon">
                                <i class="fri icon-phone"></i>
                            </div>
                            <div class="lh18 fz18">
                                Поставщик не имеет возможности
                                посмотреть Ваши контакты, Вы сами
                                решаете с кем и когда связаться
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to-buyers__bottom text-center wow flipInX">
                <div class="fz38 fz22@s text-bold mb10">Подайте объявление прямо сейчас</div>
                <div class="fz22 fz16@s mb20">и получите выгодные предложения в течение нескольких часов</div>
                <div>
                    <a href="#" class="button button-red">Подать объявление</a>
                </div>
            </div>
        </div>
    </section>

    <section class="to-suppliers section-box">
        <div class="container">
            <div class="block-title text-center mb45">Поставщикам</div>
            <div class="mb50">
                <div class="fw-grid fw-grid-30">
                    <div class="fw-width-1-3 fw-width-1-1@s text-center wow fadeInUp" data-wow-delay="0s">
                        <div class="to-suppliers__item">
                            <div class="mb10">
                                <i class="fri icon-people"></i>
                            </div>
                            <div class="lh18 fz18">
                                Сервис позволяет привлечь больше покупателей Вашей продукции
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s text-center wow fadeInUp" data-wow-delay="0.5s">
                        <div class="to-suppliers__item">
                            <div class="mb10">
                                <i class="fri icon-document"></i>
                            </div>
                            <div class="lh18 fz18">
                                Повышает доверие покупателей и узнаваемость Вашей компании
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3 fw-width-1-1@s text-center wow fadeInUp" data-wow-delay="1s">
                        <div class="to-suppliers__item">
                            <div class="mb10">
                                <i class="fri icon-money"></i>
                            </div>
                            <div class="lh18 fz18">
                                Экономит время и деньги на проведение рекламной компании
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to-suppliers__bottom text-center wow flipInX">
                <div class="fz38 fz22@s text-bold mb10">Начните продавать прямо сейчас</div>
                <div class="fz22 fz16@s mb20">зарегистрируйтесь на сайте и откликайтесь на запросы покупателей</div>
                <div>
                    <a href="#" class="button button-red">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </section>

    <section class="how-it-work section-box">
        <div class="container">
            <div class="block-title text-center mb25">Как это работает</div>
            <div class="how-it-work__line mb20">
                <div class="how-it-work__left wow fadeInLeft text-uppercase">
                    <span class="fw-label">покупателям</span>
                </div>
                <div class="how-it-work__right wow fadeInRight text-uppercase">
                    <span class="fw-label">Поставщикам</span>
                </div>
            </div>
            <div class="how-it-work__grid">
                <div class="how-it-work__line mb35">
                    <div class="how-it-work__left wow fadeInLeft">
                        Подайте заявку на сайте
                    </div>
                    <div class="how-it-work__right wow fadeInRight">
                        Получаeте уведомление о новой заявке покупателя по Вашей категории
                    </div>
                </div>
                <div class="how-it-work__line mb35">
                    <div class="how-it-work__left wow fadeInLeft">
                        Поставщики делают предложения по Вашей заявке
                    </div>
                    <div class="how-it-work__right wow fadeInRight">
                        Оставляете предложение покупателю по его заявке
                    </div>
                </div>
                <div class="how-it-work__line">
                    <div class="how-it-work__left wow fadeInLeft">
                        Выбираете более выгодное предложение и связываетесь с поставщиком
                    </div>
                    <div class="how-it-work__right wow fadeInRight">
                        Покупатель связывается с Вами, если его заинтересовало Ваше предложение
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="reviews section-box wow bounceIn">
        <div class="container">
            <div class="block-title text-center mb35">Отзывы покупателей</div>
            <div class="reviews__carousel owl-carousel">
                {% for i in 1..5 %}
                    <div class="reviews__item review fw-flex">
                        <div class="review__avatar">
                            <img alt="" src="http://placehold.it/120x120"/>
                        </div>
                        <div class="review__content">
                            <p>На сегодняшний день эта площадка занимает лидирующие позиции на рынке
                                недвижимости в интернете. Подавляющий процент людей, занимающихся поиском
                                жилья, проводит мониторинг в первую очередь.</p>

                            <p>Строгая политика администраторов сайта дает о себе знать. При этом все нововведения,
                                я считаю, рассчитаны на защиту интересов посетителей. Мы планируем только усилить
                                сотрудничество, много интересных предложений поступает, со временем воспользуемся
                                большинством из них.</p>

                            <p>Начните пользоваться этим сервисом и они вас вас приятно удивят!</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="want-same section-box text-center">
        <div class="container">
            <div class="block-title white mb20 wow fadeInDown">Хотите так же?</div>
            <div class="mb30 wow fadeIn">
                Подайте объявление прямо сейчас и попробуйте сами!
            </div>
            <div class="wow fadeInUp">
                <a href="#" class="button button-red">Подать объявление</a>
            </div>
        </div>
    </section>

    <section class="partners section-box text-center section-grey">
        <div class="container">
            <div class="block-title mb40">Наши партнеры</div>
            <div class="partners__carousel owl-carousel wow fadeInUp">
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
                <img alt="" src="http://placehold.it/200x160"/>
            </div>
        </div>
    </section>

    <section class="faq section-box">
        <div class="container wow fadeInUp">
            <div class="block-title text-center mb30">Часто Задаваемые Вопросы</div>
            <div class="faq__list" data-accordion>
                {% for i in 1..7 %}
                    <div data-item class="faq__item">
                        <div data-title class="faq__item-title text-bold">Как подать объявление и зачем мне это нужно
                        </div>
                        <div data-content class="faq__item-content">
                            Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя (продавца/
                            покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для пользователя
                            (продавца/ покупателя). Вопрос на ответ: как подать объявление и зачем мне это нужно для
                            пользователя (продавца/ покупателя).
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="mobile-app section-grey">
        <div class="container">
            <div class="fw-flex fw-flex-middle wow slideInRight">
                <div class="mobile-app__image mr50">
                    <img alt="" src="images/apps-block-img.png"/>
                </div>
                <div class="mb20">
                    <div class="fz30 fz22@s text-bold mb10">Загрузить приложение
                        <div class="text-uppercase">бесплатно</div></div>
                    <div class="text-bold text-uppercase fz17 fz16@s mb30">и узнавайте о новых откликах и объявлениях первым
                    </div>
                    <div class="mobile-app__links fw-grid fw-grid-15">
                        <div>
                            <a href="#" class="mobile-app__link">
                                <i class="fri icon-google-play"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="mobile-app__link">
                                <i class="fri icon-app-store"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" class="mobile-app__link">
                                <i class="fri icon-windows-phone"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bottom-form section-box">
        <div class="container">
            <div class="bottom-form__form-wrapper wow fadeInUp">
                <div class="block-title text-white white mb10">Остались вопросы?</div>
                <div class="bottom-form__description mb15">
                    Заполните короткую контактную форму, мы ответим Вам в ближайшее время.
                </div>
                <form action="#" class="bottom-form__form">
                    <div class="mb15">
                        <div class="fw-grid fw-grid-15">
                            <div class="fw-width-1-2 fw-width-1-1@s">
                                <input type="text" name="name" placeholder="Ваше имя">
                            </div>
                            <div class="fw-width-1-2 fw-width-1-1@s">
                                <input type="text" name="phone" placeholder="Ваш номер телефона*">
                            </div>
                            <div class="fw-width-1-1">
                                <textarea name="question" cols="30" rows="10" placeholder="Ваш вопрос*"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="button button-red">Задать вопрос</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}