{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="cabinet-wrapper fw-flex">
        <div class="modal login-modal visible">
            <div class="text-bold fz25 mb20 text-center">Войти</div>
            <form action="#">
                <div class="form-line mb20">
                    <p class="mb10">Ваш E-mail</p>
                    <div>
                        <input type="text" class="standard-input" name="email" placeholder="E-mail" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                </div>
                <div class="form-line mb20">
                    <p class="mb10">Пароль</p>
                    <div>
                        <input type="password" class="standard-input" name="password" placeholder="Пароль" autocomplete="off" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                </div>
                <div class="form-line mb20">
                    <label>
                        <input type="checkbox">
                        <span class="fw-inline-block">Запомнить меня</span>
                    </label>
                </div>
                <div class="form-line text-center mb20">
                    <button class="button button-red button-long button-medium">Войти</button>
                </div>
                <div class="form-line text-center mb20">
                    <a href="#" class="link-black">Забыли пароль?</a>
                </div>
                <div class="form-line text-center">
                    <a href="#" class="link-black">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}