{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="cabinet-wrapper">
        <div class="container">
            <div class="block-title text-center">Мои запросы</div>

            {% include 'components/back-link.twig' %}

            <article class="article panel-box panel-padding">
                <div class="article__title fz24 mb20">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, tenetur.
                </div>
                <div class="article__info fz14 mb20">
                    <div class="mb5">Категория: Отсевные</div>
                    <div class="mb5">Город: Отсевные</div>
                    <div>Дополнительная информация по месту доставки: Отсевные</div>
                </div>
                <div class="article__content lh13 mb25">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet ex hic incidunt,
                    laudantium molestias non nostrum obcaecati officia quia, quo suscipit tempore unde ut voluptas.
                    Accusamus accusantium alias aliquam architecto atque consequuntur corporis cum dicta dolore
                    doloremque error incidunt ipsam iusto magnam modi omnis pariatur perspiciatis porro quae quas quasi
                    quidem quis, quisquam recusandae repellat, repudiandae rerum sequi suscipit, tempora tenetur veniam
                    voluptates voluptatibus voluptatum? Consequatur culpa ea fugit harum inventore mollitia quibusdam!
                    Aliquam atque deleniti dolorem ducimus enim excepturi explicabo mollitia nesciunt, officia porro qui
                    quo repellat sed sint ut? Commodi dicta dolorem dolores enim expedita itaque neque obcaecati porro
                    quia rem similique tenetur, velit voluptate. Aliquid architecto assumenda consequatur, cum
                    cupiditate distinctio ea et exercitationem facere, fugiat fugit iure labore molestiae nam nulla
                    obcaecati odio placeat quae, quasi quidem reprehenderit saepe sequi similique tenetur vitae voluptas
                    voluptatem? Beatae dicta impedit neque nostrum perspiciatis qui repellendus sint ullam unde
                    voluptates. Consequatur cum delectus est eveniet, ipsa quisquam reiciendis sapiente suscipit!
                    Doloribus excepturi expedita harum libero. At culpa dolorum, eligendi eos esse eum ex fugiat, ipsam
                    itaque molestiae nam nostrum quae unde veniam vitae. Alias aspernatur assumenda at aut autem
                    deserunt dolor dolorum et eum illum in iusto maxime modi, nam nesciunt nostrum obcaecati odit
                    officia perferendis porro praesentium quaerat quia recusandae, reprehenderit repudiandae saepe vel
                    voluptatum? Aliquam asperiores assumenda eo
                </div>
                <div class="article__back-link fz14">
                    <a href="#" class="link-black">К списку запросов</a>
                </div>
            </article>

            {% include 'components/back-link.twig' %}
        </div>
    </div>
{% endblock %}