<header class="header">
    <div class="header__top-line">
        <div class="container">
            <div class="fw-flex fw-flex-middle fw-flex-between fw-width-1-1">
                <div>
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>

                <div class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item"><a class="header__menu-link" href="#">О сервисе</a></li>
                        <li class="header__menu-item"><a class="header__menu-link" href="#">FAQ</a></li>
                        <li class="header__menu-item"><a class="header__menu-link" href="#">Вход</a></li>
                        <li class="header__menu-item"><a class="header__menu-link" href="#">Регистрация</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__middle text-center">
        <div class="container">
            <div class="header__title fz45 text-bold">Начните продавать прямо сейчас</div>
            <div class="header__subtitle mb30">зарегистрируйтесь на сайте и откликайтесь на заявки покупателей</div>
            <div class="header__reg-button mb30">
                <a href="#" class="button button-red">Зарегистрироваться</a>
            </div>
            <div class="header__middle-bottom fz25">
                Сейчас на доске <span class="text-bold fz40">3 520 122</span> запросов
            </div>
        </div>
    </div>
    <div class="header__statistic text-center">
        <div class="container">
            <div class="fw-flex fw-flex-middle fw-flex-around">
                <div>
                    <div class="text-bold fz47">50 235</div>
                    <div class="text-bold text-uppercase">подано запросов</div>
                </div>
                <div>
                    <div class="text-bold fz47">50 235</div>
                    <div class="text-bold text-uppercase">откликов</div>
                </div>
                <div>
                    <div class="text-bold fz47">50 235</div>
                    <div class="text-bold text-uppercase">Положительных оценок</div>
                </div>
            </div>
        </div>
    </div>
</header>