<div class="header__top-line">
    <div class="container">
        <div class="fw-flex fw-flex-middle fw-flex-between fw-width-1-1">
            <div>
                <a href="#" class="logo become-small"></a>
            </div>

            <div class="header__menu">
                <div class="header__menu-icon js-open-menu hidden visible@s">
                    <div class="header__menu-icon-lines"></div>
                </div>
                <ul class="header__menu-list">
                    <li class="header__menu-item header__menu-top hidden">
                        <span class="logo"></span>
                        <span class="icon-cross js-close-menu"></span>
                    </li>
                    <li class="header__menu-item"><a class="header__menu-link" href="#">О сервисе</a></li>
                    <li class="header__menu-item"><a class="header__menu-link" href="#">FAQ</a></li>
                    <li class="header__menu-item"><a class="header__menu-link js-open-modal" data-open-modal="login" href="#">Вход</a></li>
                    <li class="header__menu-item"><a class="header__menu-link js-open-modal" data-open-modal="registration" href="#">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>